<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExpressShippingBaseRate" value="10.00"/>
		<add key="ExpressShippingPerPoundRate" value="1.00"/>
		<add key="OvernightShippingBaseRate" value="20.00"/>
		<add key="OvernightShippingPerPoundRate" value="1.50"/>
		<add key="StandardShippingBaseRate" value="5.00"/>
		<add key="StandardShippingPerPoundRate" value="0.50"/>
	</appSettings>
</configuration>